- item = OpenStruct.new(item)
%li.span3
  .thumbnail.search
    %a(href='#' data-id="#{item.num_iid}" data-cid="#{params[:category_id]}" data-title="#{item.title}" data-price="#{item.price}" data-commission="#{item.commission}" data-nick="#{item.nick}" data-click_url="#{item.click_url}" data-volume="#{item.volume}")
      %img(src="#{item.pic_url}" title="#{strip_tags(item.title)}")
    %p
      %span.pull-right= "#{item.volume}件/30天"
      %span= item.commission
      \/
      %span.price= item.price
