.search-area
  = form_tag '/admin/items', class: "form-search", :method => 'get' do
    = text_field_tag 'keyword', params[:keyword]
    = select_tag 'category_id', options_from_collection_for_select(Category.active, :id, :name, params[:category_id]), :include_blank => true
    = submit_tag 'Search', class: "btn btn-primary"

%ul.thumbnails
  = render :partial => 'item', :collection => @items

#item-images.modal.hide
  .modal-header
    %button(type='button' class='close' data-dismiss='modal') &times;
    %h3 选取一张图片为该宝贝的显示图片
