%li.span3.home
  .thumbnail
    %a(href="#{item_path(item)}" target="_blank")
      %img(src="#{item.pic_url}" title="#{strip_tags(item.title)}")
  .desc
    = item.nick
    \/
    %span.price= "RMB#{item.price}"
  .op
    = link_to "Shopping", item_path(item), class: "btn btn-success", target: "_blank"
