!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Wabao"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner

        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Wabao
          .container.nav-collapse
            %ul.nav
              %li= link_to "后台", admin_path
              %li= link_to "分类", categories_path
              %li= link_to "管理", rails_admin_path
            - if controller.controller_name == "items" 
              %form.navbar-search.pull-right(url=items_path)
                %input.search-query(type="text" placeholder="搜索" name="q[title_cont]" value="#{@q.title_cont}")

    .container
      - flash.each do |name, msg|
        %div(class="alert alert-#{name}")
          %button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
          = msg
      .content
        = yield

      .clearfix
      %footer
        %p &copy; Company 2012

      .slide-panel
        .go_top
          %i(class='icon-arrow-up')
          返回顶部
        .bookmark
          %i(class='icon-star')
          加入收藏
        .feedback
          %i(class='icon-comment')
          联系我们

      %a(href="http://wpa.qq.com/msgrd?v=3&uin=5805167&site=qq&menu=yes" id="qq-service" target="_blank")

    .feedback-form.modal.hide.fade
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        %h3 感谢您的建议，投诉，以及咨询！
      .modal-body
        = form_for Feedback.new do |f|
          = f.label :title, "主题"
          = f.text_field :title, class: "span6"
          = f.label :body, "内容"
          = f.text_area :body, class: "span6"
          = f.simple_captcha label: "验证码："
          %p
            未登录用户，如果您想收到回馈，请写入您的QQ或MSN、Gtalk、Skype、Email、电话，我们将尽快联系您！
          = f.submit "提交"


    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"


    /
      Baidu Button BEGIN
    %script{type: "text/javascript", id: "bdshare_js", data: "type=slide&amp;img=1&amp;pos=left"}
    %script{type: "text/javascript", id: "bdshell_js"}
    :javascript
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
    /
      Baidu Button END
